.label_Style{
    font-size: small;
    color: #0C0C0C;
}
.input_text_style{
    width: 120px;
    height: 26px
}
.select_style{
    width: 120px;
    height: 30px
}
.page_num_style{
    font-size: small;
    position: fixed;
    left: 400px;
    top: 600px;
    right: 200px
}