<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tcl.dao.PackageDetailsModelMapper" >
  <resultMap id="BaseResultMap" type="com.tcl.model.PackageDetailsModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="his_id" property="hisId" jdbcType="VARCHAR" />
    <result column="his_name" property="hisName" jdbcType="VARCHAR" />
    <result column="his_price" property="hisPrice" jdbcType="BIGINT" />
    <result column="package_id" property="packageId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="BIGINT" />
    <collection property="knowledgeDetailsModel" javaType="com.tcl.model.KnowledgeDetailsModelWithBLOBs">
      <id column="k_id" property="id" jdbcType="BIGINT" />
      <result column="k_packagedetails_id" property="packagedetailsId" jdbcType="BIGINT" />
      <result column="k_introduction" property="introduction" jdbcType="LONGVARCHAR" />
      <result column="k_objective" property="objective" jdbcType="LONGVARCHAR" />
      <result column="k_text_time" property="textTime" jdbcType="LONGVARCHAR" />
      <result column="k_clinical" property="clinical" jdbcType="LONGVARCHAR" />
      <result column="k_need_attention" property="needAttention" jdbcType="LONGVARCHAR" />
    </collection>
    <collection property="packageModel" javaType="com.tcl.model.PackageModel">
      <id column="b_id" property="id" jdbcType="BIGINT" />
      <result column="b_name" property="name" jdbcType="VARCHAR" />
    </collection>
  </resultMap>

  <resultMap id="RelatedResultMap" type="com.tcl.model.PackageDetailsModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="his_id" property="hisId" jdbcType="VARCHAR" />
    <result column="his_name" property="hisName" jdbcType="VARCHAR" />
    <result column="his_price" property="hisPrice" jdbcType="BIGINT" />
    <result column="package_id" property="packageId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="BIGINT" />
    <collection property="packageModel" javaType="com.tcl.model.PackageModel">
      <id column="b_id" property="id" jdbcType="BIGINT" />
      <result column="b_name" property="name" jdbcType="VARCHAR" />
    </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    id, his_id, his_name, his_price, package_id, name, price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    p.id, p.his_id, p.his_name, p.his_price, package_id, p.name, p.price,
    k.id k_id, k.packagedetails_id k_packagedetails_id, k.introduction k_introduction, k.objective k_objective, k.text_time k_text_time,
    k.clinical k_clinical, k.need_attention k_need_attention, b.name b_name
    from (app_c_package_details p LEFT JOIN app_c_knowledge_details k on p.id = k.packagedetails_id)
    LEFT JOIN app_c_package b ON p.package_id = b.id
    where p.id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from app_c_package_details
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.tcl.model.PackageDetailsModel" >
    insert into app_c_package_details (id, his_id, his_name, 
      his_price, package_id, name, 
      price)
    values (#{id,jdbcType=BIGINT}, #{hisId,jdbcType=VARCHAR}, #{hisName,jdbcType=VARCHAR}, 
      #{hisPrice,jdbcType=BIGINT}, #{packageId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{price,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.tcl.model.PackageDetailsModel" >
    insert into app_c_package_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hisId != null" >
        his_id,
      </if>
      <if test="hisName != null" >
        his_name,
      </if>
      <if test="hisPrice != null" >
        his_price,
      </if>
      <if test="packageId != null" >
        package_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hisId != null" >
        #{hisId,jdbcType=VARCHAR},
      </if>
      <if test="hisName != null" >
        #{hisName,jdbcType=VARCHAR},
      </if>
      <if test="hisPrice != null" >
        #{hisPrice,jdbcType=BIGINT},
      </if>
      <if test="packageId != null" >
        #{packageId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tcl.model.PackageDetailsModel" >
    update app_c_package_details
    <set >
      <if test="hisId != null" >
        his_id = #{hisId,jdbcType=VARCHAR},
      </if>
      <if test="hisName != null" >
        his_name = #{hisName,jdbcType=VARCHAR},
      </if>
      <if test="hisPrice != null" >
        his_price = #{hisPrice,jdbcType=BIGINT},
      </if>
      <if test="packageId != null" >
        package_id = #{packageId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tcl.model.PackageDetailsModel" >
    update app_c_package_details
    set his_id = #{hisId,jdbcType=VARCHAR},
      his_name = #{hisName,jdbcType=VARCHAR},
      his_price = #{hisPrice,jdbcType=BIGINT},
      package_id = #{packageId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectList" parameterType="java.util.Map" resultMap="RelatedResultMap">
    select
    a.id, a.his_id, a.his_name, his_price, package_id, a.name, a.price, b.id b_id, b.name b_name
    from app_c_package_details a LEFT JOIN app_c_package b ON a.package_id = b.id
    where 1=1
    <if test="id != null">
      and a.id = #{id, jdbcType=BIGINT}
    </if>
    <if test="hisId != null">
      and a.his_id = #{hisId, jdbcType=VARCHAR}
    </if>
    <if test="hisName != null and hisName != ''">
      and a.his_name = #{hisName, jdbcType=VARCHAR}
    </if>
    <if test="hisPrice != null">
      and his_price = #{hisPrice, jdbcType=BIGINT}
    </if>
    <if test="packageId != null">
      and package_id = #{packageId, jdbcType=BIGINT}
    </if>
    <if test="name != null and name != ''">
      and a.name = #{name, jdbcType=VARCHAR}
    </if>
    <if test="price != null">
      and a.price = #{price, jdbcType=BIGINT}
    </if>
    <if test="packageName != null and packageName != ''">
      and b.name = #{packageName, jdbcType=VARCHAR}
    </if>
    <if test="start_num != null and pageSize != null">
      limit #{start_num, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
    </if>
  </select>
  <insert id="batchInsert" parameterType="java.util.List">
    insert into app_c_package_details(his_id, his_name, his_price, package_id, name, price) VALUES
    <foreach collection="list" item="item" separator="," close=";">
      (
      #{item.hisId, jdbcType=BIGINT},
      #{item.hisName, jdbcType=VARCHAR},
      #{item.hisPrice, jdbcType=BIGINT},
      #{item.packageId, jdbcType=BIGINT},
      #{item.name, jdbcType=VARCHAR},
      #{item.price, jdbcType=BIGINT}
      )
    </foreach>
  </insert>
</mapper>